<div class="frame">
  <div class="logo">
    <%= image_tag "/rubigon_images/logo.png",class:'logo-image' %>
    <div class="start-btn">
      <%= link_to '冒険をはじめる',rubigon_path(id: 5) %>
    </div>
    <div class="admin">
      <%= link_to image_tag("/rubigon_images/pc.png"),new_rubigon_path %>
    </div>
  </div>
</div>