<div class="frame">
  <div class="content-title">
    <h1>Rubigon Quest</h1>
  </div>
  <div class="start-btn">
    <%= link_to '冒険をはじめる',rubigon_path(id: 1) %>
  </div>
  <div class="admin">
    <%= link_to '管理者ページ',new_rubigon_path %>
  </div>
</div>