<h1>Rubigon Quest</h1>

<%= link_to '冒険をはじめる',rubigon_path(id: 1) %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%= link_to '管理者ページ',new_rubigon_path %>