<div class="edit-form">
  <div class="content-title">
    <h2>管理者ページ</h2>
  </div>
  <div class="error">
    <%= render 'shared/error_messages', model: @act %>
  </div>
  <%= render partial: "acts/form_s" %>
    <div class="enemy-list">
      <% @rubigons.each do |rubigon| %>
        <div class="enemy">
          <%= link_to"#{rubigon.stage_no}_#{rubigon.enemy}",edit_rubigon_path(rubigon.id) %>
        </div>
      <% end %>
    </div>
  <div class="bottom-btn">
    <<<%= link_to 'TOPへ戻る',root_path %>>>
  </div>
</div>