/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #000000;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #0000ff;
}

/* body */

.background-image {
  background-image: url("/rubigon_images/meadow.png");
  height: 94vh;
  background-size: cover;
  background-attachment: fixed;
}

/* TOP */

.frame {
  height: 100%;
  width: 100%;
}

.logo {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-image {
  border-radius: 10%;
}

.start-btn {
  width: 200px;
  font-size: 28px;
  position: absolute;
  bottom: 30px;
  border-bottom : 2px solid #0000ff;
}

.admin {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 500px;
  right: 10px;
}

/* form */
.frame-e {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  height: calc(100vh - 40px);
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba( 204, 204, 204, 0.55 );
  padding: 20px 0 0 0;
  overflow: scroll;
}

.edit-form::-webkit-scrollbar{
  display: none;
}

.form-frame {
  padding: 0 0 20px 70px;
}

.content-title {
  display: flex;
  justify-content: center;
}

.form__text {
  width: 80%;
}

.field{
  margin: 10px 0;
}

.form-set {
  display: flex;
}

.a-frame {
  width: 290px;
}

.s-frame{
  width: 290px;
}


.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.bottom-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* enemy-list */
.enemy-list {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.enemy {
  width: 200px;
  margin: 4px 48px;
}

/* edit */
.delete-btn {
  margin-left: 20px;
}

.error {
  margin: 0 auto;
  color: red;
  padding: 10px;
}
/* act */
.act-list {
  width: 600px;
  padding-left: 30px;
  margin: 10px;
}

/* show */
.frame-s {
  height: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.enemy-frame {
  background-color: rgba(0, 0, 0, 0.75);
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
  position: relative;
}

.enemy-image {
  width: 650px;
  height: 250px;
  border-radius: 15px;
}

.progress{
  width: 230px;
  background-color:#d4fafa;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 40px;
  top: 40px;
}

.gameover-image {
  width: 15%;
  height: 15%;
}

.catle-image {
  width: 15%;
  height: 15%;
}

.top-link {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 40px;
  top: 20px;
}


.choice-frame {
  width: 95%;
  height: 35%;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid white;
  border-radius: 15px;
}

.show-font {
  color: white;
  font-size: 20px;
}

.choice {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.choices {
  height: 35px;
  margin: 15px 0;
  position: relative;
  border: 2px #f7f7f700 solid;
}
.choices:hover {
  border: 2px solid white;
  }

.choices a {
  color: white;
}

/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}