/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #000000;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #0000ff;
}

/* body */

.background-image {
  background-image: url("/rubigon_images/meadow.png");
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

/* TOP */
.frame {
  height: 100%;
  width: 100%;
}

.frame-e {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn{
  height:45%;
}

.admin {
  height: 45%;
  display: flex;
  align-items: flex-end;
}

/* form */

.edit-form {
  height: calc(100vh - 40px);
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgba( 204, 204, 204, 0.55 );
  padding: 20px 0 0 0;
  overflow: scroll;
}

.edit-form::-webkit-scrollbar{
  display: none;
}

.form-frame {
  padding: 0 0 20px 200px;
}

.content-title {
  display: flex;
  justify-content: center;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}


.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.bottom-btn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* enemy-list */
.enemy-list {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.enemy {
  width: 200px;
  margin: 4px 48px;
  border: 1px dashed pink;
}

/* edit */
.delete-btn {
  margin-left: 20px;
}

.error {
  margin: 0 auto;
  color: red;
  padding: 10px;
}
